
body {
    padding-top: 100px;
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

.navbar-brand.abs
    {
        position: absolute;
        width: 100%;
        left: 0;
        text-align: center;
    }

.nav-item {
    margin-right: auto;
    margin-left: auto;
}

.tall_button {
    margin: 25%;
    height: 50%;
    width: 50%;
}

.indent {
    text-indent: 30px;
}

.character-info {
    margin-left: 25%;
    margin-right: 25%;
}

.output {
    padding-left: 25%;
}

.output p{
    margin: 0px;
}

#results {
        border: 2px solid black;
        margin: 20px;
    }

#heading {
    padding: 20px;
}



