
body {
    padding-top: 100px;
}


.navbar-brand.abs
    {
        position: absolute;
        width: 100%;
        left: 0;
        text-align: center;
    }

h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

.tall_button {
    margin: 25%;
    height: 50%;
    width: 50%;
}

#results {
        border: 2px solid black;
    }

#heading {
    padding: 20px;
}


