{% extends "base.html" %}
{% set active_page = 'duel' %}

{% block title %}
    <title>Duel</title>
{% endblock %}

{% block content %}
<div class="container">
    <div id="heading">
        <h1>Duel</h1>
        <h2>A single Duel Between Two Characters</h2>
    </div>

    <div id="form">
        <form method="POST" action="{{ url_for('duel') }}">
            <div class="row">
            <div id="char1" class="col-4">
                <h2>Character 1</h2>
                <div class="form-group">
                    {{ form.char1.char_name.label }}
                    {{ form.char1.char_name(class="form-control") }}
                </div>
                <div class="row form-group mb-0">
                    <div class="form-group col-8">
                        {{ form.char1.char_class.label }}
                        {{ form.char1.char_class(class="form-control") }}
                    </div>
                    <div class="form-group col-4">
                        {{ form.char1.level.label }}
                        {{ form.char1.level(class="form-control") }}
                    </div>
                </div>
                <div class="form-group">
                    {{ form.char1.race.label }}
                    {{ form.char1.race(class="form-control") }}
                </div>
                <div class="row form-group mb-0">
                    <div class="form-group col-4">
                        {{ form.char1.str.label }}
                        {{ form.char1.str(class="form-control") }}
                    </div>
                    <div class="form-group col-4">
                        {{ form.char1.dex.label }}
                        {{ form.char1.dex(class="form-control") }}
                    </div>
                    <div class="form-group col-4">
                        {{ form.char1.con.label }}
                        {{ form.char1.con(class="form-control") }}
                    </div>
                </div>
                <div class="form-group">
                    {{ form.char1.weapon.label }}
                    {{ form.char1.weapon(class="form-control") }}
                </div>
                <div class="form-group">
                    {{ form.char1.off_hand.label }}
                    {{ form.char1.off_hand(class="form-control") }}
                </div>
                <div class="form-group">
                    {{ form.char1.armor.label }}
                    {{ form.char1.armor(class="form-control") }}
                </div>
            </div>

            <div id="duel_submit" class="col-4">
                {{ form.submit(class="btn btn-primary form-control tall_button") }}
            </div>

            <div id="char2" class="col-4">
                <h2>Character 2</h2>
                <div class="form-group">
                    {{ form.char2.char_name.label }}
                    {{ form.char2.char_name(class="form-control") }}
                </div>
                <div class="row form-group mb-0">
                    <div class="form-group col-8">
                        {{ form.char2.char_class.label }}
                        {{ form.char2.char_class(class="form-control") }}
                    </div>
                    <div class="form-group col-4">
                        {{ form.char2.level.label }}
                        {{ form.char2.level(class="form-control") }}
                    </div>
                </div>
                <div class="form-group">
                    {{ form.char2.race.label }}
                    {{ form.char2.race(class="form-control") }}
                </div>
                <div class="row form-group mb-0">
                    <div class="form-group col-4">
                        {{ form.char2.str.label }}
                        {{ form.char2.str(class="form-control") }}
                    </div>
                    <div class="form-group col-4">
                        {{ form.char2.dex.label }}
                        {{ form.char2.dex(class="form-control") }}
                    </div>
                    <div class="form-group col-4">
                        {{ form.char2.con.label }}
                        {{ form.char2.con(class="form-control") }}
                    </div>
                </div>
                <div class="form-group">
                    {{ form.char2.weapon.label }}
                    {{ form.char2.weapon(class="form-control") }}
                </div>
                <div class="form-group">
                    {{ form.char2.off_hand.label }}
                    {{ form.char2.off_hand(class="form-control") }}
                </div>
                <div class="form-group">
                    {{ form.char2.armor.label }}
                    {{ form.char2.armor(class="form-control") }}
                </div>
            </div>
        </div>
        </form>
    </div>

    {% if method=="POST" %}
    <div id="results">
        <h1 class="m-3">Results</h1>
        <h2>The Duellists:</h2>
        <div class="row">
            <div class="container col-6">
                <div class="character-info">
                    <p class="mb-0">{{char1.name}} is a Level {{char1.level}} {{char1.__class__.__name__}}:</p>
                    <p class="indent mb-0">Armor Class: {{char1.AC}}</p>
                    <p class="indent mb-0">Max HP: {{char1.max_HP}}</p>
                    <p class="indent mb-0">Weapon: {{char1.weapon.name}}</p>
                    <p class="indent mb-0">Armor: {{char1.armor.name}}</p>
                </div>
            </div>
            <div class="container col-6">
                <div class="character-info">
                    <p class="mb-0">{{char2.name}} is a Level {{char2.level}} {{char2.__class__.__name__}}:</p>
                    <p class="indent mb-0">Armor Class: {{char2.AC}}</p>
                    <p class="indent mb-0">Max HP: {{char2.max_HP}}</p>
                    <p class="indent mb-0">Weapon: {{char2.weapon.name}}</p>
                    <p class="indent mb-0">Armor: {{char2.armor.name}}</p>
                </div>
            </div>
        </div>
        <h2>The Fight:</h2>
        <div>
            <p>Narrative to go here</p>
        </div>
    </div>
    {% endif %}

</div>
{% endblock %}